@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  padding: 15px;
  display: flex;
  gap: 20px;
  background-color: #1877f2;
}

nav a {
  color: white;
  text-decoration: none;
}